<?xml version="1.0" encoding="UTF-8"?>
<!-- 3.0及以上版本可以默认开启EL表达式，可能解决spring mvc返回WEB-INF下的jsp报404问题 -->
<!-- 这里把servlet改成3.0版本（需要tomcat7以上） -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <listener>
    <listener-class>Session.GlobalSessionListener</listener-class>
  </listener>
</web-app>